.grid-stack {
  background: azure;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: aliceblue;
  border: 1px dotted deepskyblue;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow-y: hidden;
}
.grid-stack .grid-stack-placeholder > .placeholder-content {
  left: 0px;
  right: 0px;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  left: 0px;
  right: 0px;
}
div.seatCharts-seat {
  color: #ffffff;
  cursor: pointer;
}
div.seatCharts-seat.available {
  background-color: floralwhite;
}
div.seatCharts-seat.available.first-class {
  /*background: url(vip.png);*/
  background-color: #3a78c3;
}
div.seatCharts-seat.focused {
  background-color: blanchedalmond;
}
div.seatCharts-seat.selected {
  background-color: #e6cac4;
}
div.seatCharts-seat.unavailable {
  background-color: #472b34;
}
div.seatCharts-space {
  background-color: lightgrey;
}
div.seatCharts-container {
  width: 100%;
  height: 100%;
}
/*div.seatCharts-row {}*/
/*div.seatCharts-space {}*/
div.seatCharts-cell {
  color: #182c4e;
  background-color: aliceblue;
  margin: 0;
}
