.grid-stack {
  text-align: inherit;
  /*background: lightgoldenrodyellow;*/
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  /*  background-color: lightgrey;*/
}

div.seatCharts-cell {
  color: #182c4e;
  height: 25px;
  width: 25px;
  line-height: 25px;
}
div.seatCharts-seat {
  color: #ffffff;
  cursor: pointer;
}
div.seatCharts-seat.available {
  background-color: #b9dea0;
}
div.seatCharts-seat.available.first-class {
  /*background: url(vip.png);*/
  background-color: #3a78c3;
}
div.seatCharts-seat.focused {
  background-color: #76b474;
}
div.seatCharts-seat.selected {
  background-color: #e6cac4;
}
div.seatCharts-seat.unavailable {
  background-color: #472b34;
}
/*div.seatCharts-space {
  background-color: lightgrey;
}*/
div.seatCharts-row {
  height: 30px;
}
div.seatCharts-container {
  width: 220px;
}
#seat-map-0.seatCharts-container {
  width: 465px;
}
