/*
    Created on : 15 ene. 2020, 9:41:02
    Author     : pedroapelaez
*/
.room-template-editor .ui-icon-gear {
  cursor: pointer;
  float: right;
  margin-right: 2px;
  z-index: 90;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  margin-right: -10px;
}

.room-template-editor .grid-stack-item-content .title {
  font-weight: bold;
}

.room-template-editor .toolbar {
  border-bottom: 1px solid #d1d1d1;
  background: #f8f8f8;
  padding: 6px 8px 2px;
  white-space: normal;
}

.room-template-editor .toolbar .tool {
  display: inline;
  margin: 5px;
}

.room-template-editor .toolbar select {
  max-width: 20%;
}
