{#
/**
 * @file
 * Unnumbered settings form.
 *
 * Available variables:
 * -
 *
 * @ingroup themeable
 */
#}
<form>
    <fieldset>
        <label for="esf_upt_places">{{ "Title"|t }}</label>
        <input id="esf_upt_title" type="textfield">

        <label for="esf_upt_places">{{ "Places"|t }}</label>
        <input id="esf_upt_places" type="number" min="1">

        <!-- Alter examples -->
        <label for="esf_npt_price">{{ "Price"|t }}</label>
        <input id="esf_npt_price" type="number" min="1" step="0.01" value="1" data-esf-name="price">

        <label for="esf_npt_currency">{{ "Currency"|t }}</label>
        <select id="esf_npt_currency" data-esf-name="currency">
            <option value="EUR">{{ "Euro"|t }}</option>
        </select>

        <label for="esf_npt_description">{{ "Description"|t }}</label>
        <textarea  id="esf_npt_description" data-esf-name="description"></textarea>
    </fieldset>
</form>
