{#
/**
 * @file
 * Unnumbered settings form.
 *
 * Available variables:
 * - 
 *
 * @ingroup themeable
 */
#}
<form>
    <fieldset>
        <label for="esf_npt_title">{{ "Title"|t }}</label>
        <input id="esf_npt_title" type="textfield">

        <label for="esf_npt_columns">{{ "Columns"|t }}</label>
        <input id="esf_npt_columns" type="number" min="1" value="1">

        <label for="esf_npt_first_column">{{ "First column index"|t }}</label>
        <input id="esf_npt_first_column" type="number" min="0" value="1">

        <label for="esf_npt_columns_step">{{ "Columns step"|t }}</label>
        <select id="esf_npt_columns_step">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>

        <label for="esf_npt_rows">{{ "Rows"|t }}</label>
        <input id="esf_npt_rows" type="number" min="1" value="1">

        <label for="esf_npt_first_row">{{ "First row index"|t }}</label>
        <input id="esf_npt_first_row" type="number" min="0" value="1">

        <label for="esf_npt_rows_label">{{ "Rows label position"|t }}</label>
        <select id="esf_npt_rows_label">
            <option value="none">{{ "None"|t }}</option>
            <option value="left" selected="selected">{{ "Left"|t }}</option>
            <option value="right">{{ "Right"|t }}</option>
            <option value="both">{{ "Both"|t }}</option>
        </select>

    </fieldset>
</form>
