{#
/**
 * @file
 * Unnumbered settings form.
 *
 * Available variables:
 * - 
 *
 * @ingroup themeable
 */
#}
<form>
    <fieldset>
        <label for="esf_upt_places">{{ "Title"|t }}</label>
        <input id="esf_upt_title" type="textfield">
        <label for="esf_upt_places">{{ "Places"|t }}</label>
        <input id="esf_upt_places" type="number" min="1">
    </fieldset>
</form>
