{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - uuid: Editor UUID.
 *
 * @see template_preprocess_Seats Editor()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class room-template-editor" data-id="{{ id }}" data-uuid="{{ uuid }}">
    <div class="toolbar"></div>
    <div class="grid-stack grid-stack-40"></div>
</div>
